@use "../sass/all";

.contact-form-container {
  .form-row {
    @include all.flex-row();
    margin-bottom: all.$spaceMediumLarge;
    gap: all.$spaceMediumLarge;

    & > div {
      display: flex;
      flex: 1;

      label {
        display: inline-block;
        font-family: all.$fontFamilyBodyBold;
        margin-right: all.$spaceSmall;
        font-size: all.$fontSize3;
      }

      input {
        display: inline-block;
        flex: 1;
        border: 1px solid all.$primary;
      }
    }
  }

  .message-container {
    margin-top: all.$spaceMediumLarge;

    label {
      font-size: all.$fontSize3;
      display: block;
      font-family: all.$fontFamilyBodyBold;
      text-align: left;
    }

    textarea {
      margin-top: all.$spaceSmall;
      width: 100%;
      border: 1px solid all.$primary;
      min-height: 300px;
    }
  }

  .button-container {
    margin-top: all.$spaceLarge;

    .button {
      border: none;
    }
  }
}
