@use "../sass/all";

#page-footer {
  width:100%;
  overflow: hidden;
  background-color: all.$primaryDark;
  color: all.$white;

  .top-section {
    padding: all.$spaceLarge all.$spaceMedium;
    margin-bottom: all.$spaceExtraLarge;
    @include all.flex-row();

    & {
      justify-content: space-between;
    }

    .nav {
      a {
        display: inline-block;
        margin-right: all.$spaceSmall;
        @include all.hover-cta();
        @include all.hover-underline();
      }
    }

    .contact {
      $size: 42px;

      a {
        height: $size;
        width: $size;
        line-height: $size;
        text-align: center;
        border-radius: 50%;
        background-color: all.$primaryExtraLight;
        display: inline-block;
        font-size: all.$fontSize3;
        margin-left: all.$spaceMedium;
        @include all.hover-cta();

        &.poland {
          background-color: #b33237;
          position: relative;

          &:after {
            content: "POLAND";
            text-transform: uppercase;
            position: absolute;
            bottom: - $size * .75;
            left: -50%;
            width: 200%;
            overflow: visible;
            font-size: all.$fontSize5;
          }
        }
      }
    }
  }

  .bottom-section {
    text-align: center;

    img {
      margin: 0 auto;
      height: all.$spaceExtraLarge
    }

    p {
      margin-top: all.$spaceMedium;
    }
  }

  .copyright {
    margin-top: all.$spaceExtraLarge;
    text-align: center;
    font-size: all.$fontSize5;
    padding: all.$spaceMediumLarge;
    background-color: all.$primaryExtraDark;
    color: all.$primaryExtraLight;
  }

  .attribution {
    text-align: center;
    font-size: all.$fontSize5;
    padding: all.$spaceExtraSmall;
    padding-top: 0;
    background-color: all.$primaryExtraDark;
    color: all.$primaryExtraLight;

    a {
      display: inline-block;
      @include all.hover_underline();
    }
  }
}

@include all.small-and-below {
  #page-footer {
    .top-section {
      .nav {
        text-align: center;
      }
    }

    .bottom-section {
      img {
        height: 2rem;
      }
    }

    .contact {
      margin-top: all.$spaceMedium;

      $size: 32px;
      a {
        height: $size !important;
        width: $size !important;
        line-height: $size !important;
        font-size: all.$fontSize4 !important;
        margin-left: all.$spaceMedium !important;

        &.poland {
          &:after {
            bottom: - $size * .75 !important;
          }
        }
      }

    }
  }
}
