@use "../sass/all";

#page-header {
  width: 100%;
  background: all.$white;

  .outer-content-width {
    background: all.$white;
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    align-items: flex-end;
    padding: all.$spaceLarge;
  }

  img {
    height: all.$spaceMediumLarge;
  }

  .nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-left: all.$spaceMedium;
    gap: all.$spaceMedium;

    a {
      display: inline-block;
      color: all.$bodyColor;
      flex: 1;
      @include all.hover-cta();
      @include all.hover-underline();

      &:after {
        background-color: all.$bodyColor;
      }
    }
  }

  .contact {
    margin-left: all.$spaceMedium;

    .what-are-stem-cells {
      padding: all.$spaceExtraSmall all.$spaceSmall;
      border: 2px solid all.$primaryLight;
      text-transform: uppercase;
      margin-left: all.$spaceSmall;
      transition: background-color all.$transition;
      white-space: nowrap;

      &:hover {
        background-color: all.$lightGrey;
      }
    }
  }

  #mobile-header {
    padding: all.$spaceSmall;
    text-align: center;

    * {
      display: inline-block;
    }

    i {
      position: absolute;
      top: all.$spaceSmall;
      left: all.$spaceSmall;
      font-size: all.$spaceMediumLarge;
      color: all.$bodyColor;

      @include all.hover-cta();

      &.fa-x {
        display: none;
      }
    }
  }
}

@media screen and (min-width: all.$screenSmallMax) and (max-width: 1300px) {
  #page-header {
    .outer-content-width {
      padding: 5rem all.$spaceMedium all.$spaceMedium;
      position: relative;

      .nav {
        margin: 0 auto;
      }

      img, .contact {
        position: absolute;
        top: all.$spaceMedium;
      }

      img {
        left: all.$spaceMedium;
      }
      .contact {
        right: all.$spaceMedium;
      }
    }
  }
}


@include all.small-and-below() {
  #page-header {
    .outer-content-width {
      display: none;
      flex-direction: column;
      width: 100vw;
      height: calc(100% - 62px); // 62px is the mobile-header height
      align-items: center;

      .nav {
        flex: 1;
        gap: 0;
        flex-direction: column;
        justify-content: space-evenly;
        margin-left: 0;

        font-size: all.$fontSize3;
        a {
          padding: all.$spaceExtraExtraSmall;
          flex: none;
          display: block;
          margin-left: 0;
          line-height: 1.1em;
        }
      }

      .contact {
        flex-shrink: 0;
        margin: 0;

        a {
          display: block;
          margin-left: 0;
          margin-top: all.$spaceMedium;
          text-align: center;
        }
      }
    }
  }

  body.nav-open {
    #page-header {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1000;

      #mobile-header {
        i.fa-x {
          display: inline-block
        }
        i.fa-bars {
          display: none;
        }
      }

      .outer-content-width {
        display: flex;
      }
    }
  }
}
