@use "../sass/all";

#page-header {
  width: 100%;

  & > .outer-content-width {
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    align-items: flex-end;
    padding: all.$spaceLarge;

    @media screen and (max-width: all.$screenSmallMax) {
      flex-direction: column;
    }
  }

  img {
    height: all.$spaceMediumLarge;
  }

  .nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-left: all.$spaceMedium;

    a {
      margin-left: all.$spaceMedium;
      color: all.$bodyColor;
      flex: 1;
      @include all.hover-cta();

      &:first-child {
        margin-left: 0;
      }
    }
  }

  .contact {
    margin-left: all.$spaceMedium;

    .what-are-stem-cells {
      padding: all.$spaceExtraSmall all.$spaceSmall;
      border: 2px solid all.$primaryLight;
      text-transform: uppercase;
      margin-left: all.$spaceSmall;
      transition: background-color all.$transition;
      white-space: nowrap;

      &:hover {
        background-color: all.$lightGrey;
      }
    }
  }
}
