@use "../sass/all";

div.icon-card {
  width: 100%;
  background-color: all.$nearWhite;
  color: all.$bodyColor;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: all.$spaceExtraLarge all.$spaceLarge;

  i {
    font-size: 3rem;
  }

  h3 {
    margin-top: all.$spaceMedium;
  }

  .small-divider {
    width: 1rem;
    height: 2px;
    background-color: all.$bodyColor;
    margin: all.$spaceSmall auto;
  }

  &:nth-child(1) {
    background-color: all.$primary;
    color: all.$white;
    .small-divider {
      background-color: all.$white;
    }
  }
}
