@use "../sass/all";

.content-width {
  width: 100%;
  max-width: all.$contentWidth;
  margin: 0 auto;
}

.outer-content-width {
  width: 100%;
  max-width: all.$outerContentWidth;
  margin: 0 auto;

  @include all.small-and-below {
    padding: 0 all.$spaceSmall;
  }
}

.button {
  display: inline-block;
  min-width: 300px;
  text-transform: uppercase;
  color: all.$white;
  background-color: all.$primaryLight;
  padding: all.$spaceSmall all.$spaceMedium;
  cursor: pointer;
  transition: background-color all.$transition;

  &:hover {
    background-color: all.$primaryExtraLight;
  }
}

.section {
  margin: all.$spaceExtraExtraLarge auto;
  text-align: center;

  &:first-child {
    margin-top: all.$spaceExtraLarge;
  }

  @include all.small-and-below {
    padding: 0 all.$spaceSmall;

    &:first-child {
      margin-top: all.$spaceMedium;
    }
  }
}

.text-link {
  color: all.$primaryDark;
  text-decoration: underline;
  transition: color all.$transition;

  &:hover {
    color: all.$primary;
  }
}

.mobile-only {
  display: none;

  @include all.small-and-below() {
    display: block;
  }
}

.desktop-only {
  display: none;

  @include all.medium-and-up() {
    display: block;
  }
}

.wiggle-bounce {
  animation: wiggle-bounce 0.6s;

  &:hover {
    animation: none;
    transition: transform all.$transition;
    transform: scale(1.05, 1.05);
  }
}

@keyframes wiggle-bounce {
  from, to { transform: scale(1, 1); }
  25% { transform: scale(0.9, 1.1); }
  50% { transform: scale(1.1, 0.9); }
  75% { transform: scale(0.95, 1.05); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
