@use "../sass/all";

.content-width {
  width: 100%;
  max-width: all.$contentWidth;
  margin: 0 auto;
}

.outer-content-width {
  width: 100%;
  max-width: all.$outerContentWidth;
  margin: 0 auto;

  @include all.small-and-below {
    padding: 0 all.$spaceSmall;
  }
}

.button {
  display: inline-block;
  min-width: 300px;
  text-transform: uppercase;
  color: all.$white;
  background-color: all.$primaryLight;
  padding: all.$spaceSmall all.$spaceMedium;
  cursor: pointer;
  transition: background-color all.$transition;

  &:hover {
    background-color: all.$primaryExtraLight;
  }
}

.section {
  margin: all.$spaceExtraExtraLarge auto;
  text-align: center;

  &:first-child {
    margin-top: all.$spaceExtraLarge;
  }

  @include all.small-and-below {
    padding: 0 all.$spaceSmall;

    &:first-child {
      margin-top: all.$spaceMedium;
    }
  }
}

.text-link {
  color: all.$primaryDark;
  text-decoration: underline;
  transition: color all.$transition;

  &:hover {
    color: all.$primary;
  }
}

.mobile-only {
  display: none;

  @include all.small-and-below() {
    display: block;
  }
}

.desktop-only {
  display: none;

  @include all.medium-and-up() {
    display: block;
  }
}
