{% extends "../default.twig" %}

{% block styles %}
    {{ parent() }}
    <link rel="stylesheet" href="./styles/about.css"/>
{% endblock %}

{% block breadcrumbs_content %}
    <span>About</span>
{% endblock %}

{% block content %}
    <div class="section intro-heart">
        <div>
            <h2>
                A non-invasive stem cell delivery system
                using proprietary protein to
                repair damaged hearts
            </h2>
            <p>
                TargaCell is an early-stage biopharmaceutical company focused on repairing organ damage
                caused by disease processes to reverse disease, recover function, and restore quality of life.
                We achieve this through improved non-invasive, simple intravenous injection of our products,
                which provide targeted delivery of a second simple injection of regenerative cells to specific
                organs, thereby enhancing damaged tissue repair. The Company is developing first-in-class
                biologic therapeutics based on the characteristics of naturally occurring and chemically
                modified proprietary protein preparations and their innate ability to bind specifically with stem
                cells and block extraneous (Off-target) organ binding sites that trap them, preventing migration
                to tissues needing repair.
            </p>
        </div>

        <img src="./images/heart.png" alt="heart"/>
    </div>

    <div class="section technology">
        <div class="row">
            {% embed '../components/icon_card.twig' with {
                'match_heights': 'technology',
                title: 'Current Methods',
                icon: 'fa-heart',
            } %}
                {% block body %}
                    <p>
                        Deliver TOO few stem cells to the
                        heart that do not stay long enough to
                        make repair efficient and restore
                        heart function.
                    </p>
                {% endblock %}
            {% endembed %}

            {% embed '../components/icon_card.twig' with {
                'match_heights': 'technology',
                title: "TargaCell's Solutions",
                icon: 'fa-heart',
            } %}
                {% block body %}
                    <p>
                        We will provide a safe, efficient
                        intravenous, stem cell delivery,
                        without anesthesia or
                        cardiac catheter.
                    </p>
                {% endblock %}
            {% endembed %}

            <p data-match-heights="technology">
                The Company’s platform technology leverages these proprietary
                biologics to deliver and target
                MSCs and CD34+ stem cells to
                specific organs and retain them
                there to enable repair of damage.
            </p>
        </div>

        <div class="row">
            <img data-match-heights="technology" src="./images/about/doctor_1.jpg" alt="doctor reviewing images" />
            <img data-match-heights="technology" src="./images/about/patient_1.jpg" alt="patient receiving treatment" />
            <p data-match-heights="technology">
                A particular combination of stem cells and
                biologic allows the delivery and retention in
                a specific organ or tissue.
            </p>
        </div>

        <img src="./images/about/problem_solution.jpg" alt="TaraCell solves the problem for stem cell delivery for heart repair">
    </div>

    <div class="section what-is-targacell">
        <div>
            <h2>What is TargaCell?</h2>
            <p>
                TargaCell is a stem cell delivery
                company that can deliver 10X more
                stem cells to the heart and retain
                them there to dramatically improve
                the repair of damaged heart tissue
                resulting from a heart attack.
            </p>
        </div>
        <div>
            <div class="row">
                <img data-match-heights="what-is-targacell" src="./images/about/doctor_2.jpg" alt="doctor reviewing images" />
                <img data-match-heights="what-is-targacell" src="./images/about/patient_2.jpg" alt="patient receiving treatment" />
                <img data-match-heights="what-is-targacell" src="./images/about/cells.jpg" alt="doctor reviewing images" />
            </div>
            <div class="row">
                {% embed '../components/icon_card.twig' with {
                    'match_heights': 'what-is-targacell',
                    title: "Universal Delivery Technology",
                    icon: 'fa-heart',
                } %}
                    {% block body %}
                        <p>
                            TargaCell can provide delivery
                            of all major types of stem cells
                            used in heart repair using our
                            proprietary proteins.
                        </p>
                    {% endblock %}
                {% endembed %}
                {% embed '../components/icon_card.twig' with {
                    'match_heights': 'what-is-targacell',
                    title: "Safe &amp; Efficient",
                    icon: 'fa-heart',
                } %}
                    {% block body %}
                        <p>
                            We will provide a safe,
                            efficient intravenous, stem cell
                            delivery, without anesthesia
                            or cardiac catheter.
                        </p>
                    {% endblock %}
                {% endembed %}
                {% embed '../components/icon_card.twig' with {
                    'match_heights': 'what-is-targacell',
                    title: "Delivery & Retention",
                    icon: 'fa-heart',
                } %}
                    {% block body %}
                        <p>
                            We deliver and retain these
                            stem cells in the heart to
                            expedite the repair of
                            damaged tissue and restore
                            function.
                        </p>
                    {% endblock %}
                {% endembed %}
            </div>
        </div>
    </div>

    <div class="section meet-the-team">
        <h2>
            Meet The TargaCell Team
        </h2>
        <p>

        </p>
    </div>
{% endblock %}
