{% extends "../default.twig" %}

{% block styles %}
    {{ parent() }}
    <link rel="stylesheet" href="./styles/contact.css"/>
{% endblock %}

{% block breadcrumbs_content %}
    <span>Contact</span>
{% endblock %}

{% block content %}

{% endblock %}
