{% extends "../default.twig" %}

{% block styles %}
{{ parent() }}
{% endblock %}

{% block content %}
    <div id="hero">
        <div>
            <h1>404<span>Not Found</span></h1>
        </div>

        <div id="hero-bottom">
            <h2><span id="animate-type">just kidding</span><span class="slow-pulse"></span></h2>
        </div>
    </div>
{% endblock %}
