{% extends "../default.twig" %}

{% block styles %}
    {{ parent() }}
    <link rel="stylesheet" href="./styles/news.css"/>
{% endblock %}

{% block breadcrumbs_content %}
    <span>News</span>
{% endblock %}

{% block content %}

{% endblock %}
