{% extends "../default.twig" %}

{% block styles %}
    {{ parent() }}
    <link rel="stylesheet" href="./styles/resources.css"/>
{% endblock %}

{% block breadcrumbs_content %}
    <span>Resources</span>
{% endblock %}

{% block content %}
    <div class="section title">
        <h1>Resources</h1>
        <p>These are recommended references for further study of stem cells</p>
    </div>

    <div class="section resources">
        <div>
            <div class="resource-header" data-max-widths="resources" data-max-heights="resources" style="margin-top: 0;">GENERAL STEM CELLS</div>
        </div>
        <p>
            STEM CELL
        </p>
        <a href="https://en.wikipedia.org/wiki/Stem_cell">https://en.wikipedia.org/wiki/Stem_cell</a>

        <div>
            <div class="resource-header" data-max-widths="resources" data-max-heights="resources">CD34+STEM CELLS</div>
        </div>
        <p>
            HEMATOPOIETIC STEM CELL
        </p>
        <a href="https://en.wikipedia.org/wiki/Hematopoietic_stem_cell">https://en.wikipedia.org/wiki/Hematopoietic_stem_cell</a>
        <p>CD34</p>
        <a href="https://en.wikipedia.org/wiki/CD34">https://en.wikipedia.org/wiki/CD34 - marker only</a>
        <p>
            DIVISION IN CD34+ HUMAN CORD BLOOD HEMATOPOIETIC STEM/PROGENITOR CELLS
        </p>
        <a href="https://www.nanolive.ch/cd34-mitosis/">
            https://www.nanolive.ch/cd34-mitosis/
        </a>

        <div>
            <div class="resource-header" data-max-widths="resources" data-max-heights="resources">MESENCHYMAL STEM CELLS (MSCS)</div>
        </div>
        <p>
            MESENCHYMAL STEM CELL
        </p>
        <a href="https://en.wikipedia.org/wiki/Mesenchymal_stem_cell">
            https://en.wikipedia.org/wiki/Mesenchymal_stem_cell
        </a>
        <p>
            MESENCHYMAL STEM CELLS BY DOCTOR KLIOZE
        </p>
        <a href="https://www.youtube.com/watch?v=g8FQOjlATgg">
            https://www.youtube.com/watch?v=g8FQOjlATgg
        </a>

        <div>
            <div class="resource-header" data-max-widths="resources" data-max-heights="resources">
                VIDEOS<br/>
                <span>(using stem cells for heart repair)</span>
            </div>
        </div>

        <p>
            STEM CELLS RESTORE FUNCTION IN DAMAGED HEARTS
        </p>
        <a href="https://www.youtube.com/watch?v=CS9FIeFuzLo">https://www.youtube.com/watch?v=CS9FIeFuzLo</a>
        <p>OTT: VIDEO TECH BRIEF - STEM CELLS HEAL THE HUMAN HEART</p>
        <a href="https://www.youtube.com/watch?v=XPpGtAcyO-k">https://www.youtube.com/watch?v=XPpGtAcyO-k</a>
        <p>DOUGLAS LOSORDO, MD: ADVANCING CARDIOVASCULAR CELL THERAPY</p>
        <a href="https://www.youtube.com/watch?v=JRNuhsrnyRg">https://www.youtube.com/watch?v=JRNuhsrnyRg</a>
        <p>DR DOUGLAS LOSORDO DISCUSSES THE EVOLUTION AND IMPORTANCE OF CD34+ TREATMENT IN PATIENTS WITH CMD</p>
        <a href="https://www.youtube.com/watch?v=boVRC4lRTck">https://www.youtube.com/watch?v=boVRC4lRTck</a>
        <p>
            NHÓM 66 - USING MESENCHYMAL STEM CELL IN TREATING HEART FAILURE (HF)
        </p>
        <a href="https://www.youtube.com/watch?v=RmLTzI0syvc">https://www.youtube.com/watch?v=RmLTzI0syvc</a>
    </div>

    <div class="section">
        <img src="./images/heart.png" alt="Heart Logo" />
    </div>
{% endblock %}
