{% extends "../default.twig" %}

{% block styles %}
    {{ parent() }}
    <link rel="stylesheet" href="./styles/what_are_stem_cells.css"/>
{% endblock %}

{% block breadcrumbs_content %}
    <span>What Are Stem Cells?</span>
{% endblock %}

{% block content %}
    <div class="section main-container">
        <div class="left-side desktop-only">
            <div>
                <a href="https://youtube.com/shorts/XFTW7bLR5KM">
                    <img src="./images/what_are_stem_cells/migrating.png" alt="Screenshot of video showing migrating CD34+ cells" />
                </a>
            </div>
            <div>
                <a href="https://youtu.be/0Fa8S_WFTYI">
                    <img src="./images/what_are_stem_cells/mitosis.png" alt="Screenshot of video showing human cells undergoing mitosis" />
                </a>
            </div>
        </div>
        <div class="right-side">
            <div class="mobile-only videos">
                <div>
                    <a href="https://youtube.com/shorts/XFTW7bLR5KM">
                        <img src="./images/what_are_stem_cells/migrating.png" alt="Screenshot of video showing migrating CD34+ cells" />
                    </a>
                </div>
                <div>
                    <a href="https://youtu.be/0Fa8S_WFTYI">
                        <img src="./images/what_are_stem_cells/mitosis.png" alt="Screenshot of video showing human cells undergoing mitosis" />
                    </a>
                </div>
            </div>

            <h1>What are CD34+stem cells &amp; MSCs?</h1>
            <p>
                These adult stem cells harvested or derived from adult tissues, blood,
                etc., after birth, can be derived from several tissues, including but not
                limited to bone marrow and umbilical cord blood.
            </p>
            <p class="list-header">
                The stem cells used are either autologous & allogeneic:
            </p>
            <ul>
                <li>
                    Autologous means the source of the stem cells is the patient,
                </li>
                <li>
                    Allogeneic means the source of stem cells comes from another person, not the patient to be treated.
                </li>
            </ul>
            <p class="list-header">
                CD34+ stem cells:
            </p>
            <ul>
                <li>
                    CD34+ stem cells are blood-forming or hematopoietic stem cells, which
                    can also form blood vessels and other types of cells in the body.
                </li>
                <li>
                    Autologous CD34+ stem cells can be harvested directly from the bone
                    marrow or blood after mobilizing or inducing them to move from the
                    bone marrow into the blood using well-established clinical protocols.
                </li>
                <li>
                    Purified CD34+ stem cell populations are produced from these
                    collections in a hospital cell therapy laboratory.
                </li>
                <li>
                    For preclinical validation studies, CD34+ stem cells will be purchased
                    from commercial stem cell suppliers for validation and safety studies.
                </li>
                <li>
                    For clinical trials, CD34+ stem cells will be purified from the patient’s
                    bone marrow and used in compliance with standard clinical treatment
                    protocols or custom-manufactured in accordance with GMP regulations
                    approved by the FDA.
                </li>
            </ul>

            <p class="list-header">
                Mesenchymal stem cells (MSCs):
            </p>

            <ul>
                <li>
                    MSCs are non-hematopoietic adult stem cells isolated from different
                    sources that can differentiate into other types of cells in the body.
                    These sources include but are not limited to, bone marrow, fat (adipose
                    tissue), umbilical cord tissue (Wharton's Jelly), placenta, or amniotic
                    fluid (the fluid surrounding a fetus).
                </li>
                <li>
                    MSCs can be allogeneic (from unrelated donors).
                </li>
                <li>
                    Allogeneic MSCs can be purchased from stem cell manufacturing
                    companies.
                </li>
                <li>
                    Autologous MSCs derived and grown from the patient's tissues may not
                    be required for heart repair therapy. However, if needed, they can be
                    produced in a hospital cell therapy laboratory or custom-manufactured
                    by a stem cell company in accordance with GMP regulations approved
                    by the FDA.
                </li>
            </ul>
        </div>
    </div>

    <div class="section learn-more">
        <h2>
            Learn more about CD34+ stem cells and their ability to
            repair and restore heart blood supply.
        </h2>
        <a href="./resources.html" class="button">Learn more</a>

        <h2>
            Learn more about Mesenchymal Stem cells (MSCs) ability to
            repair and restore heart blood supply.
        </h2>
        <a href="./resources.html" class="button">Learn more</a>

        <img src="./images/heart.png" alt="Heart logo" />
    </div>
{% endblock %}
