<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}TargaCell{% endblock %}</title>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    {% block robots %}
        <meta name="robots" content="index follow" />
    {% endblock %}

    {% block styles %}
        <link rel="stylesheet" href="./styles/base.css"/>
    {% endblock %}
</head>
{% block body %}
<body class="{{ site.environment }}">
    {% block page %}
        {% block header %}
            {% embed 'header.twig' %} {% endembed %}
        {% endblock %}
        {% block breadcrumbs %}
            <div class="breadcrumbs">
                <div class="outer-content-width">
                    <a href="./">Home</a>
                    {% block breadcrumbs_content %}{% endblock %}
                </div>
            </div>
        {% endblock %}
        {% block content_wrapper %}
            <div id="content" class="content-width">
                {% block content %}
                {% endblock %}
            </div>
            <div style="height:1px;"></div>
        {% endblock %}
        {% block footer %}
            {% embed 'footer.twig' %} {% endembed %}
        {% endblock %}
    {% endblock %}

    {% block scripts %}
        <script src="https://kit.fontawesome.com/f8650deef4.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script type="text/javascript" src="./scripts/base.js"></script>
    {% endblock %}
</body>
{% endblock %}

</html>
