<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Isaac Rothenbaum Portfolio Site{% endblock %}</title>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="icon" type="image/svg+xml" href="/static/img/logo.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    {% block robots %}
        <meta name="robots" content="index follow" />
    {% endblock %}

    {% block favicon %}
        <!-- When we get a real favicon, check out https://realfavicongenerator.net/ -->
    {%  endblock %}

    {% block styles %}
        <link rel="stylesheet" href="./styles/base.css"/>
    {% endblock %}
</head>
{% block body %}
<body class="{{ site.environment }}">
    {% block page %}
        {% block header %}
            {% include('header.twig') %}
        {% endblock %}
        {% block content-wrapper %}
            <div id="content">
                {% block content %}
                {% endblock %}
            </div>
        {% endblock %}
        {% block footer %}
            {% include('footer.twig') %}
        {% endblock %}
    {% endblock %}

    {% block scripts %}
        <script src="https://kit.fontawesome.com/f8650deef4.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script type="text/javascript" src="./scripts/base.js"></script>
    {% endblock %}
</body>
{% endblock %}

</html>
