<footer id="page-footer">
    <div class="top-section">
        <div class="nav">
            <a href="/">Home</a>
            <a href="/about.html">About</a>
            <a href="/team.html">Team</a>
            <a href="/timeline.html">Timeline</a>
            <a href="/news.html">News</a>
            <a href="/faq.html">FAQ</a>
            <a href="/resources.html">Resources</a>
            <a href="/investors.html">Investors</a>
            <a href="/contact.html">Contact</a>
        </div>
        <div class="contact">
            <span>Connect With Us</span>
            <a href="https://www.facebook.com/" target="_blank">
                <i class="fab fa-facebook-f"></i>
            </a>
        </div>
    </div>
    <div class="bottom-section">
        <img src="/images/logotype.png" alt="logotype" />
        <p>
            A non-invasive stem cell delivery system using proprietary proteins
            to repair damaged hearts & control damaging immune responses
        </p>
    </div>
    <div class="copyright">
        <span>TargaCell &copy; 2024. All Rights Reserved</span>
    </div>
</footer>
