<header id="page-header">
    <div class="outer-content-width">
        <img src="./images/logotype.png" />
        <div class="nav">
            <a href="/">Home</a>
            <a href="/about.html">About</a>
            <a href="/team.html">Team</a>
            <a href="/timeline.html">Timeline</a>
            <a href="/news.html">News</a>
            <a href="/faq.html">FAQ</a>
            <a href="/resources.html">Resources</a>
            <a href="/investors.html">Investors</a>
            <a href="/contact.html">Contact</a>
        </div>
        <div class="contact">
            <a href="tel:+18064330795">+1(806)433-0795</a>
            <a href="https://google.com" class="what-are-stem-cells">What are stem cells?</a>
        </div>
    </div>
</header>
