@use './colors';
@use './constants';
@use './layout';

@mixin hover-cta {
  cursor: pointer;
  opacity: 0.9;
  transition: opacity constants.$transition;

  &:hover {
    opacity: 1;
  }
}

@mixin div-image {
  width: 100%;
  padding-top: 100%;
  background: white no-repeat center center;
  background-size: cover;
}

@mixin hover-underline {
  &:after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: colors.$white;
    transition: width constants.$transition;
    margin:0 auto;
  }

  &:hover:after {
    width: 100%;
  }
}

@mixin bulleted-list {
  padding-left: layout.$spaceMedium;

  li {
    list-style: disc;
    margin-bottom: layout.$spaceSmall;

    li {
      list-style: none;
      padding-left: layout.$spaceMedium;
      position: relative;

      &:before {
        content: "-";
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }
}
