@use './colors';
@use './constants';
@use './layout';

@mixin hover-cta {
  cursor: pointer;
  opacity: 0.9;
  transition: opacity constants.$transition;

  &:hover {
    opacity: 1;
  }
}

@mixin div-image {
  width: 100%;
  padding-top: 100%;
  background: white no-repeat center center;
  background-size: cover;
}

@mixin hover-underline {
  &:after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: colors.$white;
    transition: width constants.$transition;
  }

  &:hover:after {
    width: 100%;
  }
}
