@use "./constants";

$fontFamilyCursive: 'cursive';
$fontFamilyBody: 'raleway-regular';
$fontFamilyBodyBold: 'raleway-bold';
$bodyLineHeight: 1.5em;

@font-face {
  font-family: $fontFamilyCursive;
  src: url('../fonts/brannboll.otf') format('opentype');
}

@font-face {
  font-family: $fontFamilyBody;
  src: url('../fonts/raleway-regular.ttf') format('truetype');
}

@font-face {
  font-family: $fontFamilyBodyBold;
  src: url('../fonts/raleway-bold.ttf') format('truetype');
}

$fontSize1: 3rem;
$fontSize2: 2rem;
$fontSize3: 1.4rem;
$fontSize4: 1rem;
$fontSize5: 0.8rem;

@mixin bodyText {
  font-family: $fontFamilyBody;
  font-size: $fontSize4;
  line-height: $bodyLineHeight;
}

@mixin titleText {
  font-family: $fontFamilyBodyBold;
  font-size: $fontSize1;
  line-height: 1em;
}

@mixin subtitleText {
  font-family: $fontFamilyBodyBold;
  font-size: $fontSize2;
  line-height: 1em;
}
