@use "./constants";

$fontFamilyCursive: 'cursive';
$fontFamilyBody: 'arial', sans-serif;
$bodyLineHeight: 1.5em;

@font-face {
  font-family: $fontFamilyCursive;
  src: url('../fonts/brannboll.otf') format('opentype');
}

$fontSize1: 3rem;
$fontSize2: 2rem;
$fontSize3: 1.4rem;
$fontSize4: 1rem;
$fontSize5: 0.8rem;

@mixin bodyText {
  font-family: $fontFamilyBody;
  font-size: $fontSize4;
  line-height: $bodyLineHeight;
}

@mixin titleText {
  font-family: $fontFamilyBody;
  font-weight: bold;
  font-size: $fontSize1;
  line-height: 1em;
}

@mixin subtitleText {
  font-family: $fontFamilyBody;
  font-weight: bold;
  font-size: $fontSize2;
  line-height: 1em;
}
