@use "sass/all";
@use "components/icon-card";
@use "components/bio-card";

.section:first-child {
  margin-top: all.$spaceExtraLarge;
}

.intro-heart {
  @include all.flex-row();

  img {
    width: 40%;
    margin-left: all.$spaceMedium;

    animation: gelatine 0.6s;

    &:hover {
      animation: none;
      transition: transform all.$transition;
      transform: scale(1.05, 1.05);
    }
  }

  div {
    text-align: left;
    width: 100%;

    h2 {
      @include all.subtitleText();
    }

    p {
      margin-top: all.$spaceMedium;
    }
  }
}

.row {
  @include all.flex-row();
  gap: all.$spaceMedium;
  margin-bottom: all.$spaceMedium;
}

.technology {
  .row {
    div:last-child > p {
      padding-left: all.$spaceMedium;
      font-size: all.$fontSize3;
      text-align: left;
      line-height: all.$bodyLineHeight;
    }

    & > * {
      flex: 1 1 0;
    }
  }

  & > img {
    margin-top: all.$spaceLarge;
    width: 100%;
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.1);
  }
}

.image {
  @include all.div-image();
  padding-top: 0;
}

.what-is-targacell {
  display: flex;

  & > div.left {
    position: relative;
    flex: 0;

    .year-text img {
      width: 230px;
      max-width: none;
      height: auto;
    }

    .text-over {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;

      h2 {
        margin-top: all.$spaceExtraLarge;
        text-align: left;
        text-transform: uppercase;
        color: all.$primaryDark;
        @include all.subtitleText();
      }

      p {
        margin-top: all.$spaceMediumLarge;
        text-align: left;
      }
    }

  }

  & > div.right {
    width: 100%;
    flex: 1;
    padding-left: all.$spaceMedium;
    text-align: center;

    div.icon-card {
      padding: all.$spaceMedium all.$spaceSmall all.$spaceLarge;
    }

    .image {
      padding-top: 33%;
      height: 0 !important;
    }
  }
}

.meet-the-team {
  h2 {
    @include all.titleText();
    margin-bottom: all.$spaceMedium;
  }

  .section {
    @include all.flex-row();
    margin: all.$spaceExtraLarge 0;
    gap: all.$spaceMedium;
  }

}

.contact-us {
  height: 80vh;
  background: url('../images/about/building.jpg') no-repeat center center;
  background-size: cover;
  text-align: center;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: all.$primaryDark;
    opacity: 0.7;
  }

  & > div {
    position: relative;
    z-index: 2;
  }

  h2 {
    @include all.titleText();
    font-size: 5rem;
    color: all.$white;
  }

  p {
    color: all.$white;
    margin-top: all.$spaceLarge;
    margin-bottom: all.$spaceExtraLarge;
    font-size: all.$fontSize2;

    a {
      @include all.hover-underline();
    }
  }
}

@keyframes gelatine {
  from, to { transform: scale(1, 1); }
  25% { transform: scale(0.9, 1.1); }
  50% { transform: scale(1.1, 0.9); }
  75% { transform: scale(0.95, 1.05); }
}
