@use "sass/reset.css";
@use "sass/all";
@use "components/header";
@use "components/footer";
@use "components/reusable";

// UNIVERSAL BOX SIZING
*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  font-size: 14px;
  font-family: all.$fontFamilyBody, "arial", sans-serif;
  line-height: all.$bodyLineHeight;
  width: 100%;
  min-height: 100%;
  color: all.$bodyColor;
  background-color: all.$white;
  height: 100%;

  &.nav-open {
    overflow: hidden;

    * {
      max-width: 100%;
      max-height: 100%;
      overflow: hidden;
    }
  }
}


#content {
  margin: 0 auto;
  max-width: all.$contentWidth;
}

