@use "sass/all";
@use "components/contact-form";

.intro {
  h1 {
    @include all.titleText();
    color: all.$primaryDark;
  }

  p {
    margin-top: all.$spaceMedium;
    font-size: all.$fontSize3;
    line-height: all.$bodyLineHeight;
  }
}

.form-wrapper {
  @include all.flex-row();
  align-items: flex-start;

  & > div:first-child {
    text-align: center;
    max-width: 30%;
    width: 300px;

    img {
      width: 90%;
      margin: 0 auto;
    }
  }

  & > div:last-child {
      flex: 1;
      margin-left: all.$spaceMedium;
  }
}
