@use "sass/all";
@use "components/blog-card";

.milestones {
  gap: all.$spaceMedium;
  @include all.flex-row();

  .copy {
    flex: 1;
    text-align: left;
  }

  .zoom-image {
    width: 40%;

    img {
      width: 100%;
      aspect-ratio: 1;
      object-fit: contain;
    }
  }


  h2 {
    @include all.subtitleText();
    color: all.$primaryDark;
    margin-bottom: all.$spaceLarge;
  }

  p {
    margin-top: all.$spaceMedium;

    strong {
      font-family: all.$fontFamilyBodyBold;
    }
  }

  ul {
    margin-top: all.$spaceSmall;
    @include all.bulleted-list()
  }
}

.top-publication {
  h2 {
    @include all.subtitleText();
    color: all.$primaryDark;
  }

  p {
    margin: all.$spaceLarge 0;
    font-family: all.$fontFamilyBodyBold;
  }

  div {
    text-align: left;
    width: 33%;
    margin: 0 auto;

    img {
      width: 100%;
    }

    p {
      margin: all.$spaceSmall 0;
      color: all.$darkGrey;
    }
    h4 {
      font-size: all.$fontSize3;
      font-family: all.$fontFamilyBodyBold;
      color: all.$primaryDark;
      text-align: center;
    }
  }
}


.mini-blog {
  gap: all.$spaceMedium;
  @include all.flex-row();

  .blog-card {
    width: 100%;
  }
}


@include all.small-and-below() {
  .milestones {
    .zoom-image {
      width: 80%;
    }
  }

  .top-publication {
    div {
      width: 100%;
    }
  }
}
