<div class="blog-card">
    <div class="date-tag">
        <span>{{ date }}</span>
    </div>
    <div class="banner-image" style="background-image: url('{{ image }}')"></div>
    <p class="in-blog">In Blog</p>
    <p class="description">
        {{ description }}
    </p>
    <a class="more-link" href="{{ link }}" target="_blank">
        Continue Reading
    </a>
</div>
