<div class="icon_card" data-match-heights="{{ match_heights }}">
    <i class="fas {{ icon }}"></i>
    <h3>{{ title }}</h3>
    <div class="small-divider"></div>
    {% block body %}
        <p>CONTENT HERE</p>
    {% endblock %}
</div>
